/* Redes de contacto (listas centradas con links negros) */
main {
  section {
    ul {
      li {
        list-style: none;
        text-align: center;

        a {
          color: black;
          text-decoration: none;
        }
      }
    }
  }
}
